.footer{
    width: 100%;
    max-width: 1600px;
    padding-left: 48px;
    padding-right: 48px;
    padding-bottom: 48px;
    padding-top: 48px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.footer-content-wrapper{
    border: 1px solid var(--primary-blue-light);
    background-color: var(--accent-light-1);
    border-radius: 16px;
    overflow: hidden;
    position: relative;
}

.footer-content{
    grid-column-gap: 32px;
    grid-row-gap: 32px;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 48px 48px 40px;
    display: flex;
    position: relative;
    overflow: hidden;
}

.footer-logo-wrapper{
    z-index: 1;
    padding-top: 6px;
    padding-bottom: 6px;
    position: relative;
    max-width: 100%;
    display: inline-block;
    color: var(--black);
    text-decoration: none;
}

.footer-main{
    display: flex;
    justify-content: flex-start;
    position: relative;
    align-items: center;
    flex-flow: column;
    z-index: 1;
    grid-column-gap: 24px;
    grid-row-gap: 24px;
}


.footer-menu{
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    justify-content: center;
    align-items: center;
    display: flex;
    transition: color 0.4s ease;

}

.footer-menu .footer-menu-item:hover{
    color: var(--accent);
    transition: color 0.4s ease;
}

.social-media{
    display: flex;
}

.social-media a{
    margin-left: 10px;
    margin-right: 10px;
    transition: transform 0.2s ease;
}

.social-media a:hover{
    transform: scale(1.3);

}

.footer-legal{
    background-color: var(--primary-blue-light);
    justify-content: space-between;
    align-items: center;
    padding: 16px 32px;
    display: flex;
    z-index: 10;
    opacity: 1;
}

.footer-legal .copy-right p{
    font-size: 14px;
    font-weight: 400;
    line-height: 144%;
    color: var(--primary-blue-dark);
}
.footer-legal p {
    font-size: 14px;
    font-weight: 400;
    line-height: 144%;
    color: var(--primary-blue-dark);
}

.bg-footer-svg{
    z-index: 0;
    width: 2286px;
    height: 2286px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    object-position: 50% 50%;
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    opacity: 0.35;
    pointer-events: none;
}

@media screen and (max-width: 767px) {
    .footer{
        padding-left: 28px;
        padding-right: 28px;
        padding-bottom: 28px;
    }
    .footer-content {
        padding-left: 24px;
        padding-right: 24px;
    }

    .footer-menu{
        grid-column-gap: 8px;
        grid-row-gap: 8px;
        flex-flow: column;
        justify-content: flex-start;
        align-items: center;
    }
}