

.section-mission{
    margin-top: 125px;
    padding-left: 48px; 
    padding-right: 48px; 
    margin-bottom: 75px;


}
.title-section{
    text-align: center;
}

.title-mission{
    font-family: Corben, sans-serif;
    font-size: 52px;
    font-weight: 400;
    line-height: 108%;
}

.title-section p{
    text-align: left;
}
.section-card-banner{
    text-align: center;
    color: var(--accent);
}


.card-banner{
    padding: 48px 48px 56px;
    background-color: var(--accent-light-2);
    border-radius: 16px;
    position:relative;
    overflow: hidden;
}

.card-grap{
    grid-column: 24px;
    grid-row-gap: 24px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    z-index: 1;
    position: relative;
}


.card-number{
    margin-top: 4px;
    width: 24px;
    color: var(--accent-dark)
}
.card-number-text{
    padding-top: 0px;
    margin-top:0px;
}

.card-content{
    max-width: 470px;
    margin-left: 20px;
}

.card-content-title{
    margin-top: 4px;
    margin-bottom: 21px;
    max-width: 370px;
    color:var(--accent-dark);
    text-align: left;
}

.card-content-text{
    margin-bottom: 0px;
    margin-top: 0px;
    text-align: justify;
    color: var(--accent-dark);
    /* overflow: auto; */
}

@media screen and (max-width: 767px){
    .section-mission{
        padding-left: 24px;
        padding-right: 24px;
        display: block;
    }
}